# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Image Hardening Pipeline"

# Security
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=image_security

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379

# Registry Settings
REGISTRY_URL=ghcr.io/devopstrio
REGISTRY_USER=admin
REGISTRY_PASSWORD=password

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
